/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
/*SASS Variables*/
$grey:#262626;
$white:#ffffff;
$font:verdana;
$h2pad:0.25em;
$h1:'Candal', sans-serif;
$green:#2ecc71;
/*Setting font for the whole page*/
p, h1, h2, h3, h4 , h5, h6, li, a  {
	font-family:$font;
}
/*Setting H tag sizes*/
h1 {
	font-size:3em;
	padding-top:0.5em;
	font-family:$h1;
}

h2{
	font-size:2.5em;
	padding-top:$h2pad;
	text-align:center;
	padding-bottom:$h2pad;
	font-family:$h1;
}

h3{
	font-size:2em;
	padding-top:$h2pad;
	padding-bottom:$h2pad;
}

/*Css for mobile*/
#wrapper {
height:auto;
width:100%;
}
/*Setting width for the rows*/
#rowone, #rowtwo, #rowthree, #rowfour, #rowfive{
	width:100%;
	overflow:auto;
}

#rowone{
	height:50vh;
	background:$grey;
	color:$white;
	text-align:center;
	font-size:1.5em;
	line-height:2em;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

#rowtwo{
	height:70em;
	color:$grey;
	text-align:center;
	font-size:1.5em;
}

#rowfour{
	height:55em;
	color:$grey;
	text-align:center;
	font-size:1.5em;
}

#rowthree{
	height:90em;
	color:$white;
	background:$grey;
	text-align:center;
	font-size:1.5em;
}

#rowfive{
	height:70em;
	color:$white;
	background:$grey;
	text-align:center;
	font-size:1.5em;
}
/*Link and list css*/

a{
	color:$white;
}

li {
	list-style-type:disc;
	list-style-position:inside;
}

/*Contact Form CSS*/

.form{
	margin-top: 3em;
}

input{
	width:75%;
	height:4em;
	margin-bottom:2em;
	font-size:1.5em;
}
textarea{
	width:75%;
	font-size:1.5em;
}
.submit{
	margin-bottom:3em;
	width:76%;
	background:$white;
	border:10px solid $green;
	color:#000000;
	height:4em;
}

.submit:hover{
	border:10px solid #000000;
}

/*Navigation CSS*/

nav{
	width:100%;
	height:3em;
	position:fixed;
	bottom:0px;
	background-color:$grey;
	font-size:2.5em;
}


nav a {
	text-decoration:none;
	color:$white;
	font-size:1em;
	width:20%;
	float:left;	
	text-align:center;
	padding-top:1em;
}

/*Image CSS*/

.img{
	width:60%;
}

/*Setting display of portfolio info, arrow home and my name*/

#portinfo{
	display:block;
}

.totop{
	display:none;
}

.name{
	display:none;
}






/*css for desktop (at 12" smallest laptop size*/
@media only screen and (min-width: 1052px){


#wrapper{
	width:100%
}

/*first row*/
#rowone{
	height:100vh;
	width:100%;
	padding-top:3em;
	background-image:url("../pictures/banner1.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

/*rest of rows */

#rowtwo, #rowthree, #rowfour, #rowfive{
	height:40em;
	width:100%;
	overflow:hidden;
}

/*Information on row one*/

.first{
	width:30%;
	height:auto;
	float:left;
	padding-top:10em;
}

/*Styling the divs*/

.headers, .content1{
	width:50%;
	float:left;
	height:45em;
	display:inline;
	color:$grey;
	background:$white;
	padding-top:3em;
}

.content, .headers1{
    padding-top:3em;
	width:50%;
	float:left;
	height:40em;
	display:inline;
	background:$grey;
	color:$white;
}

.center{
	width:70%;
	height:auto;
	margin:0 auto;
}

/*Navigation CSS*/

nav{
	width:100%;
	height:3em;
	position:fixed;
	top:0px;
	background:$white;
    opacity:1;
    font-size:1em;
}

nav li {
	list-style-type:none;
	display:inline;
	margin-top:1em;
	float:left;
}


nav a {
	text-decoration:none;
	color:$grey;
	font-size:1em;
	width:5%;
	float:right;	
	text-align:center;
	padding-top:1em;
}

nav a:hover {
	border-bottom:solid 1px $grey;
}

.top {
	display:none;
}

.totop {
	width:100%;
	height:3em;
	position:fixed;
	bottom:0px;
	display:block;
}

.totop li{
	list-style-type:none;
}

.topone{
	float:right;
	padding-right:1em;
	font-size:3em;
	color:$green;
}

.name{
	font-family:'Pacifico', Helvetica, sans-serif;
	float:left;
	display:inline;
}

.name hover{
	border-bottom:none;
}

.linked{
	color:$grey;
}

/*Image css*/

.img{
	float:left;
	padding-left:1em;
	width:40%;
}

/*image and hover effects for portfolio*/
.port, portone, porttwo{
	position:relative;
}

.infoone{
	position:absolute;
	width:40%;
	z-index:1000;
	float:left;
	margin-left:1em;
	display:none;
	background:$grey;
	opacity:0.6;
	height:7.5em;
}

.infotwo{
	position:absolute;
	width:20.1%;
	margin-left:17.8em;
	z-index:1000;
	display:none;
	background:$grey;
	opacity:0.6;
	height:7.7em;
}

.infothree{
	position:absolute;
	width:20.1%;
	margin-left:1em;
	z-index:1000;
	display:none;
	background:$grey;
	opacity:0.6;
	height:5.7em;
	margin-top:7.6em;
}

.rolling:hover + .infoone{
	display:block;
	animation:none;
	transition:none;
	-webkit-animation:none;
	pointer-events:none;
}

.rollingone:hover + .infotwo{
	display:block;
	animation:none;
	transition:none;
	-webkit-animation:none;
	pointer-events:none;
}

.rollingtwo:hover + .infothree{
	display:block;
	animation:none;
	transition:none;
	-webkit-animation:none;
	pointer-events:none;
}


.infoone p, .infotwo p, infothree p{
	text-align:center;
}

.portinfo{
	margin-top:1em;
	color:$white;
}

/*Contact form CSS*/

input{
	width:75%;
	height:2em;
	margin-bottom:2em;
	font-size:1em;
}
textarea{
	width:75%;
	font-size:1em;
}
.submit{
	margin-bottom:2em;
	width:76%;
	background:$white;
	border:10px solid $green;
	color:#000000;
	height:3em;
}

/*Pictogram CSS*/

.picto{
	width:90%;
	height:12%;
}



	
}