/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*SASS Variables*/
/*Setting font for the whole page*/
/* line 15, ../sass/screen.scss */
p, h1, h2, h3, h4, h5, h6, li, a {
  font-family: verdana;
}

/*Setting H tag sizes*/
/* line 19, ../sass/screen.scss */
h1 {
  font-size: 3em;
  padding-top: 0.5em;
  font-family: "Candal", sans-serif;
}

/* line 25, ../sass/screen.scss */
h2 {
  font-size: 2.5em;
  padding-top: 0.25em;
  text-align: center;
  padding-bottom: 0.25em;
  font-family: "Candal", sans-serif;
}

/* line 33, ../sass/screen.scss */
h3 {
  font-size: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/*Css for mobile*/
/* line 40, ../sass/screen.scss */
#wrapper {
  height: auto;
  width: 100%;
}

/*Setting width for the rows*/
/* line 45, ../sass/screen.scss */
#rowone, #rowtwo, #rowthree, #rowfour, #rowfive {
  width: 100%;
  overflow: auto;
}

/* line 50, ../sass/screen.scss */
#rowone {
  height: 50vh;
  background: #262626;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 62, ../sass/screen.scss */
#rowtwo {
  height: 70em;
  color: #262626;
  text-align: center;
  font-size: 1.5em;
}

/* line 69, ../sass/screen.scss */
#rowfour {
  height: 55em;
  color: #262626;
  text-align: center;
  font-size: 1.5em;
}

/* line 76, ../sass/screen.scss */
#rowthree {
  height: 90em;
  color: #ffffff;
  background: #262626;
  text-align: center;
  font-size: 1.5em;
}

/* line 84, ../sass/screen.scss */
#rowfive {
  height: 70em;
  color: #ffffff;
  background: #262626;
  text-align: center;
  font-size: 1.5em;
}

/*Link and list css*/
/* line 93, ../sass/screen.scss */
a {
  color: #ffffff;
}

/* line 97, ../sass/screen.scss */
li {
  list-style-type: disc;
  list-style-position: inside;
}

/*Contact Form CSS*/
/* line 104, ../sass/screen.scss */
.form {
  margin-top: 3em;
}

/* line 108, ../sass/screen.scss */
input {
  width: 75%;
  height: 4em;
  margin-bottom: 2em;
  font-size: 1.5em;
}

/* line 114, ../sass/screen.scss */
textarea {
  width: 75%;
  font-size: 1.5em;
}

/* line 118, ../sass/screen.scss */
.submit {
  margin-bottom: 3em;
  width: 76%;
  background: #ffffff;
  border: 10px solid #2ecc71;
  color: #000000;
  height: 4em;
}

/* line 127, ../sass/screen.scss */
.submit:hover {
  border: 10px solid #000000;
}

/*Navigation CSS*/
/* line 133, ../sass/screen.scss */
nav {
  width: 100%;
  height: 3em;
  position: fixed;
  bottom: 0px;
  background-color: #262626;
  font-size: 2.5em;
}

/* line 143, ../sass/screen.scss */
nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1em;
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 1em;
}

/*Image CSS*/
/* line 155, ../sass/screen.scss */
.img {
  width: 60%;
}

/*Setting display of portfolio info, arrow home and my name*/
/* line 161, ../sass/screen.scss */
#portinfo {
  display: block;
}

/* line 165, ../sass/screen.scss */
.totop {
  display: none;
}

/* line 169, ../sass/screen.scss */
.name {
  display: none;
}

/*css for desktop (at 12" smallest laptop size*/
@media only screen and (min-width: 1052px) {
  /* line 182, ../sass/screen.scss */
  #wrapper {
    width: 100%;
  }

  /*first row*/
  /* line 187, ../sass/screen.scss */
  #rowone {
    height: 100vh;
    width: 100%;
    padding-top: 3em;
    background-image: url("../pictures/banner1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /*rest of rows */
  /* line 199, ../sass/screen.scss */
  #rowtwo, #rowthree, #rowfour, #rowfive {
    height: 40em;
    width: 100%;
    overflow: hidden;
  }

  /*Information on row one*/
  /* line 207, ../sass/screen.scss */
  .first {
    width: 30%;
    height: auto;
    float: left;
    padding-top: 10em;
  }

  /*Styling the divs*/
  /* line 216, ../sass/screen.scss */
  .headers, .content1 {
    width: 50%;
    float: left;
    height: 45em;
    display: inline;
    color: #262626;
    background: #ffffff;
    padding-top: 3em;
  }

  /* line 226, ../sass/screen.scss */
  .content, .headers1 {
    padding-top: 3em;
    width: 50%;
    float: left;
    height: 40em;
    display: inline;
    background: #262626;
    color: #ffffff;
  }

  /* line 236, ../sass/screen.scss */
  .center {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  /*Navigation CSS*/
  /* line 244, ../sass/screen.scss */
  nav {
    width: 100%;
    height: 3em;
    position: fixed;
    top: 0px;
    background: #ffffff;
    opacity: 1;
    font-size: 1em;
  }

  /* line 254, ../sass/screen.scss */
  nav li {
    list-style-type: none;
    display: inline;
    margin-top: 1em;
    float: left;
  }

  /* line 262, ../sass/screen.scss */
  nav a {
    text-decoration: none;
    color: #262626;
    font-size: 1em;
    width: 5%;
    float: right;
    text-align: center;
    padding-top: 1em;
  }

  /* line 272, ../sass/screen.scss */
  nav a:hover {
    border-bottom: solid 1px #262626;
  }

  /* line 276, ../sass/screen.scss */
  .top {
    display: none;
  }

  /* line 280, ../sass/screen.scss */
  .totop {
    width: 100%;
    height: 3em;
    position: fixed;
    bottom: 0px;
    display: block;
  }

  /* line 288, ../sass/screen.scss */
  .totop li {
    list-style-type: none;
  }

  /* line 292, ../sass/screen.scss */
  .topone {
    float: right;
    padding-right: 1em;
    font-size: 3em;
    color: #2ecc71;
  }

  /* line 299, ../sass/screen.scss */
  .name {
    font-family: 'Pacifico', Helvetica, sans-serif;
    float: left;
    display: inline;
  }

  /* line 305, ../sass/screen.scss */
  .name hover {
    border-bottom: none;
  }

  /* line 309, ../sass/screen.scss */
  .linked {
    color: #262626;
  }

  /*Image css*/
  /* line 315, ../sass/screen.scss */
  .img {
    float: left;
    padding-left: 1em;
    width: 40%;
  }

  /*image and hover effects for portfolio*/
  /* line 322, ../sass/screen.scss */
  .port, portone, porttwo {
    position: relative;
  }

  /* line 326, ../sass/screen.scss */
  .infoone {
    position: absolute;
    width: 40%;
    z-index: 1000;
    float: left;
    margin-left: 1em;
    display: none;
    background: #262626;
    opacity: 0.6;
    height: 7.5em;
  }

  /* line 338, ../sass/screen.scss */
  .infotwo {
    position: absolute;
    width: 20.1%;
    margin-left: 17.8em;
    z-index: 1000;
    display: none;
    background: #262626;
    opacity: 0.6;
    height: 7.7em;
  }

  /* line 349, ../sass/screen.scss */
  .infothree {
    position: absolute;
    width: 20.1%;
    margin-left: 1em;
    z-index: 1000;
    display: none;
    background: #262626;
    opacity: 0.6;
    height: 5.7em;
    margin-top: 7.6em;
  }

  /* line 361, ../sass/screen.scss */
  .rolling:hover + .infoone {
    display: block;
    animation: none;
    transition: none;
    -webkit-animation: none;
    pointer-events: none;
  }

  /* line 369, ../sass/screen.scss */
  .rollingone:hover + .infotwo {
    display: block;
    animation: none;
    transition: none;
    -webkit-animation: none;
    pointer-events: none;
  }

  /* line 377, ../sass/screen.scss */
  .rollingtwo:hover + .infothree {
    display: block;
    animation: none;
    transition: none;
    -webkit-animation: none;
    pointer-events: none;
  }

  /* line 386, ../sass/screen.scss */
  .infoone p, .infotwo p, infothree p {
    text-align: center;
  }

  /* line 390, ../sass/screen.scss */
  .portinfo {
    margin-top: 1em;
    color: #ffffff;
  }

  /*Contact form CSS*/
  /* line 397, ../sass/screen.scss */
  input {
    width: 75%;
    height: 2em;
    margin-bottom: 2em;
    font-size: 1em;
  }

  /* line 403, ../sass/screen.scss */
  textarea {
    width: 75%;
    font-size: 1em;
  }

  /* line 407, ../sass/screen.scss */
  .submit {
    margin-bottom: 2em;
    width: 76%;
    background: #ffffff;
    border: 10px solid #2ecc71;
    color: #000000;
    height: 3em;
  }

  /*Pictogram CSS*/
  /* line 418, ../sass/screen.scss */
  .picto {
    width: 90%;
    height: 12%;
  }
}
